<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='/images/ajapsandal_logo.png') }}" alt="Ajapsandal logo"
                 width="30" height="24"
                 class="d-inline-block align-text-top">
            Ajapsandal
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('newjoke') }}">New joke</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('jokes') }}">Jokes</a>
                </li>
            </ul>

            <form class="d-flex" role="search" action="{{ url_for('recipes') }}" method="get">
                <input class="form-control me-2" type="search" placeholder="Search Recipes" aria-label="Search"
                       name="query">

                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <ul class="navbar-nav ms-lg-5 mb-lg-0">
                {% if 'user_id' in session %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for('profile', user_id=session['user_id']) }}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('registration') }}">sign up</a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>
