{% extends 'base.html' %}

{% block title %}
    Registration
{% endblock %}

{% block context %}
    <section class="vh-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 text-black">

                    <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5"
                    style="height: 80%">

                        <form style="width: 23rem;" method="post">

                            <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign Up</h3>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="username">Username</label>
                                <input type="text" id="username" name="username" value="{{ username }}" class="form-control form-control-lg"/>
                                {% for category, message in get_flashed_messages(with_categories=true) %}
                                    {% if category == 'u_err' %}
                                        <div class="text-danger pt-2">{{ message }}</div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="username">First name</label>
                                <input type="text" id="name" name="name" value="{{ name }}" class="form-control form-control-lg"/>

                            </div>


                            <div class="form-outline mb-4">
                                <label class="form-label" for="username">Last name</label>
                                <input type="text" id="lastname" name="username" value="{{ lastname }}" class="form-control form-control-lg"/>

                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="email">Email</label>
                                <input type="email" id="email" name="email" value="{{ email }}" class="form-control form-control-lg"/>

                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="password">Password</label>
                                <input type="password" id="password" name="password"
                                       class="form-control form-control-lg"/>
                                {% for category, message in get_flashed_messages(with_categories=true) %}
                                    {% if category == 'p_err' %}
                                        <div class="text-danger pt-2">{{ message }}</div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="password">Repeat Password</label>
                                <input type="password" id="repeat password" name="password"
                                       class="form-control form-control-lg"/>
                                {% for category, message in get_flashed_messages(with_categories=true) %}
                                    {% if category == 'p_err' %}
                                        <div class="text-danger pt-2">{{ message }}</div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <div class="pt-1 mb-4">
                                <button class="btn btn-lg btn-block" style="color: white; background-color: #16a86d"
                                        type="submit">Sign Up
                                </button>
                            </div>

                            <p>Have an account? <a href="{{ url_for('login') }}" style="color: forestgreen">Login
                                here</a></p>

                        </form>

                    </div>

                </div>
                <div class="col-sm-6 px-0 d-none d-sm-block">
                    <img src="{{ url_for('static', filename='images/login_photo.jpg') }}"
                         alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
                </div>
            </div>
        </div>

    </section>

{% endblock %}